<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>


<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Donation Amount</th>
    <th>Donation Date</th>
  </tr>
  </thead>


  <p>
    <strong>Donations by this person:</strong>

    <tbody>
    <% @donor.donations.each do |b| %>
        <tr>
          <td> <%= b.donor.name%> </td>
          <td> <%= b.amount%> </td>
          <td> <%= (b.date).strftime("%B %d, %Y") %> </td>
    <% end %>
    </tr>
    </tbody>

</table>
<%= number_to_currency(Donation.sum(:amount))%>
<%= number_to_currency(Donation.sum(:donor_id, :amount))%>


<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
