<!DOCTYPE html>
<html>

<ul>
  <li><%= link_to "Donors", donors_path %></li>
  <li><%= link_to "Donations", donations_path %></li>
</ul>

<head>
  <title>Donations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
